<div class="container">
  <h1 class="text-center display-text pt-5">¿Cuáles son los servicios que proporcionamos?</h1>
  <h4 class="text-center display-text pt-2">A continuación, te compartimos el listado actualizado de productos
      postales con
      el costo vigente para su adquisición en nuestra red de sucursales.</h4>
  <p class="text-center IVA">IVA incluido</p>
</div>
<div class="container">
  <div class="row row-cols-2">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 div__botones">
          <button class="boton__servicios" id="postales" (click)="mostrarPostales()">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#d707cc"
                  class="bi bi-postage" viewBox="0 0 16 16">
                  <path
                      d="M4.75 3a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h6.5a.75.75 0 0 0 .75-.75v-8.5a.75.75 0 0 0-.75-.75h-6.5ZM11 12H5V4h6v8Z" />
                  <path
                      d="M3.5 1a1 1 0 0 0 1-1h1a1 1 0 0 0 2 0h1a1 1 0 0 0 2 0h1a1 1 0 1 0 2 0H15v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1h-1.5a1 1 0 1 0-2 0h-1a1 1 0 1 0-2 0h-1a1 1 0 1 0-2 0h-1a1 1 0 1 0-2 0H1v-1a1 1 0 1 0 0-2v-1a1 1 0 1 0 0-2V9a1 1 0 1 0 0-2V6a1 1 0 0 0 0-2V3a1 1 0 0 0 0-2V0h1.5a1 1 0 0 0 1 1ZM3 3v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Z" />
              </svg>
              <p class="display-text">Postales</p>
          </button>
          <button class="boton__servicios" id="encomiendas" (click)="mostrarEncomiendas()">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#d707cc" class="bi bi-box2"
                  viewBox="0 0 16 16">
                  <path
                      d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3L2.95.4ZM7.5 1H3.75L1.5 4h6V1Zm1 0v3h6l-2.25-3H8.5ZM15 5H1v10h14V5Z" />
              </svg>
              <p class="display-text">Encomiendas</p>
          </button>
          <button class="boton__servicios" id="adicionales" (click)="mostrarAdicionales()">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#d707cc"
                  class="bi bi-envelope-paper" viewBox="0 0 16 16">
                  <path
                      d="M4 0a2 2 0 0 0-2 2v1.133l-.941.502A2 2 0 0 0 0 5.4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.4a2 2 0 0 0-1.059-1.765L14 3.133V2a2 2 0 0 0-2-2H4Zm10 4.267.47.25A1 1 0 0 1 15 5.4v.817l-1 .6v-2.55Zm-1 3.15-3.75 2.25L8 8.917l-1.25.75L3 7.417V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v5.417Zm-11-.6-1-.6V5.4a1 1 0 0 1 .53-.882L2 4.267v2.55Zm13 .566v5.734l-4.778-2.867L15 7.383Zm-.035 6.88A1 1 0 0 1 14 15H2a1 1 0 0 1-.965-.738L8 10.083l6.965 4.18ZM1 13.116V7.383l4.778 2.867L1 13.117Z" />
              </svg>
              <p class="display-text">Adicionales</p>
          </button>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 lista__servicios-desktop">
          <div class="d-flex justify-content-center">
              <div #spinner class="spinner-border text-warning" role="status" id="spinner" style="display: none;">
                  <span class="visually-hidden">Loading...</span>
              </div>
          </div>
          <div #postales class="datos__servicios-postales" id="serviciosPostales" style="display: none;">
              <ul>
                  <li class="display-text">Postal Simple hasta 500 gr</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de correspondencia y documentación, a todo Buenos Aires, con entrega bajo puerta o buzón.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioPostalIDCero" class="precios__servicios display-text">$290</li>
                  <hr>
                  <li class="display-text">Postal Custodiado hasta 500 gr</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de correspondencia y documentación, a todo Buenos Aires, con entrega bajo puerta o buzón.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioPostalIDUno" class="precios__servicios display-text">$890</li>
                  <hr>
                  <li class="display-text">Obleas Documento Llegahoy</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Estampilla postal para adherir al formulario de Carta Documento. Ofrece trazabilidad a lo largo de todo el proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioPostalIDDos" class="precios__servicios display-text">$770</li>
                  <hr>
                  <li class="display-text">Formulario Documento LlegaHoy (con oblea)</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Formulario para la redacción de Carta Documento que contiene estampilla postal.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioPostalIDTres" class="precios__servicios display-text">$50</li>
                  <hr>
                  <li class="display-text">Formulario Documento LlegaHoy (sin oblea)</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Formulario para la redacción de Carta Documento que no contiene estampilla postal.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioPostalIDCuatro" class="precios__servicios display-text">$790</li>
                  <hr>
              </ul>
          </div>
          <div #encomiendas class="datos__servicios-encomiendas" id="serviciosEncomiendas" style="display: none;">
              <ul>
                  <li class="display-text">Bolsa LlegaHoy Pack</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de documentación y pequeña paquetería, en un sobre-bolsa plástico, con entrega dentro de las 24 horas hábiles que siguen a su despacho. Ofrece trazabilidad a lo largo de todo el proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioEncomiendasIDCero" class="precios__servicios display-text">$1290</li>
                  <hr>
                  <li class="display-text">Bolsa Llegahoy Pack - 24hs.</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de documentación y pequeña paquetería, en un sobre-bolsa plástico, con entrega dentro de las 24 horas hábiles que siguen a su despacho. Ofrece trazabilidad a lo largo de todo el proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioEncomiendasIDUno" class="precios__servicios display-text">$1890</li>
                  <hr>
                  <li class="display-text">Llegahoy Encomienda</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de paquetería hasta 35KG, con embalaje preparado por nosotros. Como mínimo, el envío debe pesar 5 kg y recorrer 10 km. Ofrece trazabilidad a lo largo de todo el proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioEncomiendasIDDos" class="precios__servicios display-text">$840</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 2KG</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de paquetería, en una caja de 24x18x14cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioEncomiendasIDTres" class="precios__servicios display-text">$1190</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 3KG</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de paquetería, en una caja de 24x18x14cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioEncomiendasIDCuatro" class="precios__servicios display-text">$1340</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 5KG</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de paquetería, en una caja de 44x32x18cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioEncomiendasIDCinco" class="precios__servicios display-text">$1690</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 10KG</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de paquetería, en una caja de 40x30x15cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioEncomiendasIDSeis" class="precios__servicios display-text">$2040</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 20KG</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de distribución de paquetería, en una caja de 40x35x22cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioEncomiendasIDSiete" class="precios__servicios display-text">$2790</li>
                  <hr>
              </ul>
          </div>
          <div #adicionales class="datos__servicios-adicionales" id="serviciosAdicionales" style="display: none;">
              <ul>
                  <li class="display-text">Acuse de Recibo</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio de acuse de recibo para nuestros servicios para conocer los datos de quién recibió su producto.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioAdicionalesIDCero" class="precios__servicios display-text">$190</li>
                  <hr>
                  <li class="display-text">Letter Pack</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Servicio gratuito adherido al envío simple de postales. Su carta es guardada dentro de una bolsa transparente sellada para garantizar su inviolabilidad.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioAdicionalesIDUno" class="precios__servicios display-text">$0.00</li>
                  <hr>
                  <li class="display-text">Ayuda administrativa en su sector de logística.</li>
                  <a class="tt" data-bs-placement="bottom"
                      title="Sabemos qué no siempre se tiene muy en claro cómo organizar el sector de logística al emprender. Podes contratarnos para que te ayudemos a organizarte!">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li id="precioAdicionalesIDDos" class="precios__servicios display-text ">VARIABLE</li>
                  <hr>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item fondo-web">
      <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#d707cc"
                  class="bi bi-postage" viewBox="0 0 16 16">
                  <path
                      d="M4.75 3a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h6.5a.75.75 0 0 0 .75-.75v-8.5a.75.75 0 0 0-.75-.75h-6.5ZM11 12H5V4h6v8Z" />
                  <path
                      d="M3.5 1a1 1 0 0 0 1-1h1a1 1 0 0 0 2 0h1a1 1 0 0 0 2 0h1a1 1 0 1 0 2 0H15v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1h-1.5a1 1 0 1 0-2 0h-1a1 1 0 1 0-2 0h-1a1 1 0 1 0-2 0h-1a1 1 0 1 0-2 0H1v-1a1 1 0 1 0 0-2v-1a1 1 0 1 0 0-2V9a1 1 0 1 0 0-2V6a1 1 0 0 0 0-2V3a1 1 0 0 0 0-2V0h1.5a1 1 0 0 0 1 1ZM3 3v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Z" />
              </svg>
              <p>Postales</p>
          </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <ul>
                  <li class="display-text">Postal Simple hasta 500 gr</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de correspondencia y documentación, a todo Buenos Aires, con entrega bajo puerta o buzón.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 290</li>
                  <hr>
                  <li class="display-text">Postal Custodiado hasta 500 gr</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de correspondencia y documentación, a todo Buenos Aires, con entrega bajo puerta o buzón.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 890</li>
                  <hr>
                  <li class="display-text">Obleas Documento Llegahoy</li>
                  <a class="tt" data-bs-placement="right"
                      title="Estampilla postal para adherir al formulario de Carta Documento. Ofrece trazabilidad a lo largo de todo el proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 770</li>
                  <hr>
                  <li class="display-text">Formulario Documento LlegaHoy (con oblea)</li>
                  <a class="tt" data-bs-placement="right"
                      title="Formulario para la redacción de Carta Documento que contiene estampilla postal.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 50</li>
                  <hr>
                  <li class="display-text">Formulario Documento LlegaHoy (sin oblea)</li>
                  <a class="tt" data-bs-placement="right"
                      title="Formulario para la redacción de Carta Documento que no contiene estampilla postal.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 790</li>
                  <hr>
              </ul>
          </div>
      </div>
  </div>
  <div class="accordion-item fondo-web">
      <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#d707cc" class="bi bi-box2"
                  viewBox="0 0 16 16">
                  <path
                      d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3L2.95.4ZM7.5 1H3.75L1.5 4h6V1Zm1 0v3h6l-2.25-3H8.5ZM15 5H1v10h14V5Z" />
              </svg>
              <p>Encomiendas</p>
          </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <ul>
                  <li class="display-text">Bolsa LlegaHoy Pack</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de documentación y pequeña paquetería, en un sobre-bolsa plástico, con entrega dentro de las 24 horas hábiles que siguen a su despacho. Ofrece trazabilidad a lo largo de todo el proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 1290</li>
                  <hr>
                  <li class="display-text">Bolsa Llegahoy Pack - 24hs.</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de documentación y pequeña paquetería, en un sobre-bolsa plástico, con entrega dentro de las 24 horas hábiles que siguen a su despacho. Ofrece trazabilidad a lo largo de todo el proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 1890</li>
                  <hr>
                  <li class="display-text">Llegahoy Encomienda</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de paquetería hasta 35KG, con embalaje preparado por nosotros. Como mínimo, el envío debe pesar 5 kg y recorrer 10 km. Ofrece trazabilidad a lo largo de todo el proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 840</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 2KG</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de paquetería, en una caja de 24x18x14cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 1190</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 3KG</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de paquetería, en una caja de 24x18x14cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 1340</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 5KG</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de paquetería, en una caja de 44x32x18cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 1690</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 10KG</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de paquetería, en una caja de 40x30x15cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 2040</li>
                  <hr>
                  <li class="display-text">Caja LlegaHoy Pack - 20KG</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de distribución de paquetería, en una caja de 40x35x22cm, con entrega dentro de las 24 horas hábiles que siguen a su despacho, en las localidades habilitadas. Ofrece trazabilidad a lo largo del proceso.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 2790</li>
                  <hr>
              </ul>
          </div>
      </div>
  </div>
  <div class="accordion-item fondo-web">
      <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#d707cc"
                  class="bi bi-envelope-paper" viewBox="0 0 16 16">
                  <path
                      d="M4 0a2 2 0 0 0-2 2v1.133l-.941.502A2 2 0 0 0 0 5.4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.4a2 2 0 0 0-1.059-1.765L14 3.133V2a2 2 0 0 0-2-2H4Zm10 4.267.47.25A1 1 0 0 1 15 5.4v.817l-1 .6v-2.55Zm-1 3.15-3.75 2.25L8 8.917l-1.25.75L3 7.417V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v5.417Zm-11-.6-1-.6V5.4a1 1 0 0 1 .53-.882L2 4.267v2.55Zm13 .566v5.734l-4.778-2.867L15 7.383Zm-.035 6.88A1 1 0 0 1 14 15H2a1 1 0 0 1-.965-.738L8 10.083l6.965 4.18ZM1 13.116V7.383l4.778 2.867L1 13.117Z" />
              </svg>
              <p>Adicionales</p>
          </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <ul>
                  <li class="display-text">Acuse de Recibo</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio de acuse de recibo para nuestros servicios para conocer los datos de quién recibió su producto.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 190</li>
                  <hr>
                  <li class="display-text">Letter Pack</li>
                  <a class="tt" data-bs-placement="right"
                      title="Servicio gratuito adherido al envío simple de postales. Su carta es guardada dentro de una bolsa transparente sellada para garantizar su inviolabilidad.">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ 0.00</li>
                  <hr>
                  <li class="display-text">Ayuda administrativa en su sector de logística.</li>
                  <a class="tt" data-bs-placement="right"
                      title="Sabemos qué no siempre se tiene muy en claro cómo organizar el sector de logística al emprender. Podes contratarnos para que te ayudemos a organizarte!">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#ffc107"
                          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                          <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                  </a>
                  <li class="precios__servicios display-text">$ VARIABLE</li>
                  <hr>
              </ul>
          </div>
      </div>
  </div>
</div>
<h2 class="titulo__reviews display-text">¿Qué opinan sobre nosotros nuestros clientes?</h2>
<div class="valorDiferencial">
  <div class="ventajas">
      <article>
          <div class="primera_review bg-light">
              <img class="review" id="usuarioPrimerImagen" src="https://randomuser.me/api/portraits/men/11.jpg" alt="">
              <h4 class="text-center display-text" id="usuarioPrimerNombre">Brian</h4>
              <p class="text-center display-text">Junto a unos socios pusimos un negocio de computación y
                  fotografía. Las
                  ventas por MercadoLibre y por redes sociales se nos fue de las manos, y un amigo me
                  recomendó LlegaHoy. No podriamos estar más satisfechos con su servicio.</p>
              <div id="estrella" class="container text-center">
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
              </div>
          </div>
      </article>
      <article>
          <div class="segunda_review bg-light">
              <img class="review" id="usuarioSegundoImagen" src="https://randomuser.me/api/portraits/women/26.jpg" alt="">
              <h4 class="text-center display-text" id="usuarioSegundoNombre">Lucrecia</h4>
              <p class="text-center display-text">Comencé mi emprendimiento de lencería y por suerte las
                  ventas empezaron a
                  desbordarme. Contratando a LlegaHoy solucioné los inconvenientes que estaba teniendo con
                  tanta demanda de envíos.</p>
              <div id="estrella" class="container text-center">
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
              </div>
          </div>
      </article>
      <article>
          <div class="tercera_review bg-light">
              <img class="review" id="usuarioTercerImagen" src="https://randomuser.me/api/portraits/women/24.jpg" alt="">
              <h4 class="text-center  display-text" id="usuarioTercerNombre">Zamira</h4>
              <p class="text-center display-text">Con LlegaHoy pude resolver los problemas de envíos que
                  requerían que
                  llegaran en el mismo día a mis clientes. Con otros correos no pude cumplir ese compromiso,
                  así que valoro mucho el servicio de esta logística.</p>
              <div id="estrella" class="container text-center">
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
                  <i class="fa-solid fa-star fa-2x"></i>
              </div>
          </div>
      </article>
  </div>
</div>
<script>
  const tooltips = document.querySelectorAll(".tt")
  tooltips.forEach(t => {
      new bootstrap.Tooltip(t)
  })
</script>
<script src="../../../assets/js/scriptShowItems.js"></script>
